<h1 class="page-header">Auth</h1>
<div class="warn" *ngIf="loginWarning">{{loginWarning}}</div>
<form [formGroup]="loginForm" (ngSubmit)="login()" ngnovalidate class="auth-form">
    <mat-form-field class="auth-field-full-width">
        <input matInput type="email" formControlName="email" placeholder="email" ng-model email>
    </mat-form-field>
    <mat-form-field class="auth-field-full-width">
        <input matInput type="password" formControlName="password" placeholder="Password">
    </mat-form-field>
    <p></p>
    <div>
        <button mat-raised-button (click)="doNewUser()">Register</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Sign In</button>
    </div>
</form>
