<mat-card>
  <mat-card-title>
    <a [routerLink]="['/tasks', project._id]">{{project.name}}</a>
  </mat-card-title>
  <mat-card-subtitle>
    <strong>Project Description: </strong> {{project.description}}</mat-card-subtitle>
  <mat-card-subtitle>
    <strong>Project Created ON: </strong> {{project.createdON}}</mat-card-subtitle>
  <mat-card-subtitle>
    <strong>Project Status: </strong> {{project.status}}</mat-card-subtitle>
  <mat-card-subtitle>
    <a [routerLink]="['/p', project.permalink]">permalink</a>
  </mat-card-subtitle>
</mat-card>