<mat-sidenav-container>
    <mat-toolbar color='primary'>
        <span>Couchbase Project Tracker</span>
        <span class="fill-intermediate-space"></span>
        <div fxLayout="row" fxShow="false" fxShow.gt-sm>
            <button mat-button *ngIf="authManager.isAuthenticated()">{{authManager.getUserEmail()}}</button>
            <a mat-button *ngIf="authManager.isAuthenticated()" href="#" [routerLink]="['/companies']">Companies</a>
            <a mat-button *ngIf="authManager.isAuthenticated()" href="#" [routerLink]="['/']">Projects</a>
            <a mat-button *ngIf="authManager.isAuthenticated()" href="#" [routerLink]="['/auth']" (click)="logout()">Logout</a>
            <a mat-button *ngIf="!authManager.isAuthenticated()" href="#" [routerLink]="['/auth']">Login</a>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
    <mat-menu x-position="before" #menu="matMenu">
        <div fxLayout="column">
            <a mat-button *ngIf="authManager.isAuthenticated()">{{authManager.getUserEmail()}}</a>
            <a mat-button *ngIf="authManager.isAuthenticated()" href="#" [routerLink]="['/companies']">Companies</a>
            <a mat-button *ngIf="authManager.isAuthenticated()" href="#" [routerLink]="['/']">Projects</a>
            <a mat-button *ngIf="authManager.isAuthenticated()" href="#" [routerLink]="['/auth']" (click)="logout()">Logout</a>
            <a mat-button *ngIf="!authManager.isAuthenticated()" href="#" [routerLink]="['/auth']">Login</a>
        </div>
    </mat-menu>

    <div mat-app-background>
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>