<h1 class="mdl-dialog-title" style="text-align: center">Create New Project</h1>
<div class="warn" *ngIf="projectFailure">{{projectFailure}}</div>
<form [formGroup]="projectForm" (ngSubmit)="createProject()" ngnovalidate class="create-form">
  <div class="mdl-dialog-content">
    <mat-form-field>
      <input matInput type="text" formControlName="name" placeholder="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="description" placeholder="description">
    </mat-form-field>
  </div>
  <p></p>
  <div class="mdl-dialog-actions" style="text-align: center">
    <button mat-raised-button color="primary" type="submit" [disabled]="!projectForm.valid" color="primary">Register</button>
    <button mat-button matDialogClose=''>Cancel</button>
    <div *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</form>